article,
		aside,
		blockquote,
		body,
		button,
		code,
		dd,
		details,
		div,
		dl,
		dt,
		fieldset,
		figcaption,
		figure,
		footer,
		form,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		header,
		hgroup,
		hr,
		input,
		legend,
		li,
		menu,
		nav,
		ol,
		p,
		pre,
		section,
		td,
		textarea,
		th,
		

ul {
			margin: 0;
			padding: 0
		}
		table {
			border-collapse: collapse;
			border-spacing: 0
		}
		caption,
		th {
			text-align: left
		}
		img {
			border: 0
		}
		iframe {
			display: block
		}
		li,
		ol,
		ul {
			list-style: none
		}
		hr {
			-moz-box-sizing: content-box;
			box-sizing: content-box;
			height: 0
		}
		button,
		input,
		select,
		textarea {
			font-family: inherit;
			font-size: 100%;
			vertical-align: middle
		}
		button:focus,
		input:focus,
		select:focus,
		textarea:focus {
			outline: 0
		}
		textarea {
			overflow: auto;
			vertical-align: top
		}
		button,
		input {
			line-height: normal
		}
		button,
		input[type=button],
		input[type=reset],
		input[type=submit] {
			cursor: pointer
		}
		button[disabled],
		input[disabled] {
			cursor: default
		}
		input[type=checkbox],
		input[type=radio] {
			box-sizing: border-box;
			padding: 0
		}
		article,
		aside,
		details,
		figcaption,
		figure,
		footer,
		header,
		hgroup,
		main,
		nav,
		section,
		summary {
			display: block
		}
		audio,
		canvas,
		video {
			display: inline-block
		}
		audio:not([controls]) {
			display: none;
			height: 0
		}
		a {
			background: 0;
			text-decoration: none
		}
		a:focus {
			outline: dotted thin
		}
		a:active,
		a:hover {
			outline: 0
		}
		a:link,
		a:visited,
		ins {
			text-decoration: none
		}
		meta.foundation-version {
			font-family: "/5.2.2/"
		}
		meta.foundation-mq-small {
			font-family: "/only screen/";
			width: 0
		}
		meta.foundation-mq-medium {
			font-family: "/only screen and (min-width:40.063em)/";
			width: 40.063em
		}
		meta.foundation-mq-large {
			font-family: "/only screen and (min-width:64.063em)/";
			width: 64.063em
		}
		meta.foundation-mq-xlarge {
			font-family: "/only screen and (min-width:90.063em)/";
			width: 90.063em
		}
		meta.foundation-mq-xxlarge {
			font-family: "/only screen and (min-width:120.063em)/";
			width: 120.063em
		}
		meta.foundation-data-attribute-namespace {
			font-family: false
		}
		body,
		html {
			height: 100%
		}
		*,
		:after,
		:before {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box
		}
		body,
		html {
			font-size: 100%
		}
		body {
			padding: 0;
			margin: 0;
			font-family: "WenQuanYi Micro Hei", "Droid Sans Fallback", "Microsoft YaHei", Arial, sans-serif;
			font-weight: 400;
			font-style: normal;
			line-height: 1;
			position: relative;
			cursor: default
		}
		a:hover {
			cursor: pointer
		}
		img {
			max-width: 100%;
			height: auto;
			-ms-interpolation-mode: bicubic
		}
		.left {
			float: left !important
		}
		.right {
			float: right !important
		}
		.clearfix:after,
		.clearfix:before {
			content: " ";
			display: table
		}
		.clearfix:after {
			clear: both
		}
		.hide {
			display: none
		}
		.antialiased {
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale
		}
		img {
			display: inline-block;
			vertical-align: middle
		}
		textarea {
			height: auto;
			min-height: 50px
		}
		select {
			width: 100%
		}
		.row {
			width: 100%;
			margin: 0 auto;
			max-width: 62.5rem
		}
		.row:after,
		.row:before {
			content: " ";
			display: table
		}
		.row:after {
			clear: both
		}
		.row.collapse>.column,
		.row.collapse>.columns {
			padding-left: 0;
			padding-right: 0
		}
		.row.collapse .row {
			margin-left: 0;
			margin-right: 0
		}
		.row .row {
			width: auto;
			margin: 0 -.375rem;
			max-width: none
		}
		.row .row:after,
		.row .row:before {
			content: " ";
			display: table
		}
		.row .row:after {
			clear: both
		}
		.row .row.collapse {
			width: auto;
			margin: 0;
			max-width: none
		}
		.row .row.collapse:after,
		.row .row.collapse:before {
			content: " ";
			display: table
		}
		.row .row.collapse:after {
			clear: both
		}
		.column,
		.columns {
			padding-left: .375rem;
			padding-right: .375rem;
			width: 100%;
			float: left
		}
		@media only screen {
			.small-push-0 {
				position: relative;
				left: 0;
				right: auto
			}
			.small-pull-0 {
				position: relative;
				right: 0;
				left: auto
			}
			.small-push-1 {
				position: relative;
				left: 8.33333%;
				right: auto
			}
			.small-pull-1 {
				position: relative;
				right: 8.33333%;
				left: auto
			}
			.small-push-2 {
				position: relative;
				left: 16.66667%;
				right: auto
			}
			.small-pull-2 {
				position: relative;
				right: 16.66667%;
				left: auto
			}
			.small-push-3 {
				position: relative;
				left: 25%;
				right: auto
			}
			.small-pull-3 {
				position: relative;
				right: 25%;
				left: auto
			}
			.small-push-4 {
				position: relative;
				left: 33.33333%;
				right: auto
			}
			.small-pull-4 {
				position: relative;
				right: 33.33333%;
				left: auto
			}
			.small-push-5 {
				position: relative;
				left: 41.66667%;
				right: auto
			}
			.small-pull-5 {
				position: relative;
				right: 41.66667%;
				left: auto
			}
			.small-push-6 {
				position: relative;
				left: 50%;
				right: auto
			}
			.small-pull-6 {
				position: relative;
				right: 50%;
				left: auto
			}
			.small-push-7 {
				position: relative;
				left: 58.33333%;
				right: auto
			}
			.small-pull-7 {
				position: relative;
				right: 58.33333%;
				left: auto
			}
			.small-push-8 {
				position: relative;
				left: 66.66667%;
				right: auto
			}
			.small-pull-8 {
				position: relative;
				right: 66.66667%;
				left: auto
			}
			.small-push-9 {
				position: relative;
				left: 75%;
				right: auto
			}
			.small-pull-9 {
				position: relative;
				right: 75%;
				left: auto
			}
			.small-push-10 {
				position: relative;
				left: 83.33333%;
				right: auto
			}
			.small-pull-10 {
				position: relative;
				right: 83.33333%;
				left: auto
			}
			.small-push-11 {
				position: relative;
				left: 91.66667%;
				right: auto
			}
			.small-pull-11 {
				position: relative;
				right: 91.66667%;
				left: auto
			}
			.small-1 {
				width: 8.33333%
			}
			.small-2 {
				width: 16.66667%
			}
			.small-3 {
				width: 25%
			}
			.small-4 {
				width: 33.33333%
			}
			.small-5 {
				width: 41.66667%
			}
			.small-6 {
				width: 50%
			}
			.small-7 {
				width: 58.33333%
			}
			.small-8 {
				width: 66.66667%
			}
			.small-9 {
				width: 75%
			}
			.small-10 {
				width: 83.33333%
			}
			.small-11 {
				width: 91.66667%
			}
			.small-12 {
				width: 100%
			}
			[class*=column]+[class*=column]:last-child {
				float: right
			}
			[class*=column]+[class*=column].end {
				float: left
			}
			.small-offset-0 {
				margin-left: 0 !important
			}
			.small-offset-1 {
				margin-left: 8.33333% !important
			}
			.small-offset-2 {
				margin-left: 16.66667% !important
			}
			.small-offset-3 {
				margin-left: 25% !important
			}
			.small-offset-4 {
				margin-left: 33.33333% !important
			}
			.small-offset-5 {
				margin-left: 41.66667% !important
			}
			.small-offset-6 {
				margin-left: 50% !important
			}
			.small-offset-7 {
				margin-left: 58.33333% !important
			}
			.small-offset-8 {
				margin-left: 66.66667% !important
			}
			.small-offset-9 {
				margin-left: 75% !important
			}
			.small-offset-10 {
				margin-left: 83.33333% !important
			}
			.small-offset-11 {
				margin-left: 91.66667% !important
			}
			.small-reset-order {
				margin-left: 0;
				margin-right: 0;
				left: auto;
				right: auto;
				float: left
			}
			.column.small-centered,
			.columns.small-centered {
				margin-left: auto;
				margin-right: auto;
				float: none
			}
			.column.small-uncentered,
			.columns.small-uncentered {
				margin-left: 0;
				margin-right: 0;
				float: left !important
			}
			.column.small-uncentered.opposite,
			.columns.small-uncentered.opposite {
				float: right
			}
		}
		[class*=block-grid-] {
			display: block;
			padding: 0;
			margin: 0 -.375rem
		}
		[class*=block-grid-]:after,
		[class*=block-grid-]:before {
			content: " ";
			display: table
		}
		[class*=block-grid-]:after {
			clear: both
		}
		[class*=block-grid-]>li {
			display: block;
			height: auto;
			float: left;
			padding: 0 .375rem
		}
		@media only screen {
			.small-block-grid-1>li {
				width: 100%;
				list-style: none
			}
			.small-block-grid-1>li:nth-of-type(n) {
				clear: none
			}
			.small-block-grid-1>li:nth-of-type(1n+1) {
				clear: both
			}
			.small-block-grid-2>li {
				width: 50%;
				list-style: none
			}
			.small-block-grid-2>li:nth-of-type(n) {
				clear: none
			}
			.small-block-grid-2>li:nth-of-type(2n+1) {
				clear: both
			}
			.small-block-grid-3>li {
				width: 33.33333%;
				list-style: none
			}
			.small-block-grid-3>li:nth-of-type(n) {
				clear: none
			}
			.small-block-grid-3>li:nth-of-type(3n+1) {
				clear: both
			}
			.small-block-grid-4>li {
				width: 25%;
				list-style: none
			}
			.small-block-grid-4>li:nth-of-type(n) {
				clear: none
			}
			.small-block-grid-4>li:nth-of-type(4n+1) {
				clear: both
			}
			.small-block-grid-5>li {
				width: 20%;
				list-style: none
			}
			.small-block-grid-5>li:nth-of-type(n) {
				clear: none
			}
			.small-block-grid-5>li:nth-of-type(5n+1) {
				clear: both
			}
			.small-block-grid-6>li {
				width: 16.66667%;
				list-style: none
			}
			.small-block-grid-6>li:nth-of-type(n) {
				clear: none
			}
			.small-block-grid-6>li:nth-of-type(6n+1) {
				clear: both
			}
			.small-block-grid-7>li {
				width: 14.28571%;
				list-style: none
			}
			.small-block-grid-7>li:nth-of-type(n) {
				clear: none
			}
			.small-block-grid-7>li:nth-of-type(7n+1) {
				clear: both
			}
			.small-block-grid-8>li {
				width: 12.5%;
				list-style: none
			}
			.small-block-grid-8>li:nth-of-type(n) {
				clear: none
			}
			.small-block-grid-8>li:nth-of-type(8n+1) {
				clear: both
			}
			.small-block-grid-9>li {
				width: 11.11111%;
				list-style: none
			}
			.small-block-grid-9>li:nth-of-type(n) {
				clear: none
			}
			.small-block-grid-9>li:nth-of-type(9n+1) {
				clear: both
			}
			.small-block-grid-10>li {
				width: 10%;
				list-style: none
			}
			.small-block-grid-10>li:nth-of-type(n) {
				clear: none
			}
			.small-block-grid-10>li:nth-of-type(10n+1) {
				clear: both
			}
			.small-block-grid-11>li {
				width: 9.09091%;
				list-style: none
			}
			.small-block-grid-11>li:nth-of-type(n) {
				clear: none
			}
			.small-block-grid-11>li:nth-of-type(11n+1) {
				clear: both
			}
			.small-block-grid-12>li {
				width: 8.33333%;
				list-style: none
			}
			.small-block-grid-12>li:nth-of-type(n) {
				clear: none
			}
			.small-block-grid-12>li:nth-of-type(12n+1) {
				clear: both
			}
		}
		body {
			background: #f2f1f6;
			color: #333
		}
		.base {
			margin-top: .625rem;
			margin-bottom: .625rem;
			background: #fff;
			border-top: .0625rem solid #c8c7cc;
			border-bottom: .0625rem solid #c8c7cc
		}
		.p-img {
			background: #f1f1f1
		}
		.p-info {
			height: 2.375rem;
			color: #333;
			font-size: .813rem;
			line-height: 1.188rem
		}
		.price {
			color: #e43743
		}
		.c-header-toolbar {
			position: relative;
			background: #DF4B02;
			height: 2.5rem
		}
		
		.c-logo-opts {
			margin-bottom: 0;
			height: auto;
			margin-top: 40px;
			border-bottom: 1px solid #c8c7cc
		}
		.c-logo-opts .back-logo {
			position: relative;
			height: 6.25rem;
			background-size: 100% auto;
			background-position: center;
			background-repeat: no-repeat
		}
		
		
		.c-logo-opts .store-tab .line {
			position: absolute;
			width: 1px;
			height: 1.125rem;
			background-color: #e0e0e0;
			top: .9375rem
		}
		.c-logo-opts .store-tab .line-1 {
			left: 25%
		}
		.c-logo-opts .store-tab .line-2 {
			left: 50%
		}
		.c-logo-opts .store-tab .line-3 {
			left: 75%
		}
		
		.c-rollimage-activity {
			overflow: hidden;
			padding: 0;
			border:0 !important;
			margin-top: 0 !important;
			background-color: #fff
		}
		.c-rollimage-activity .rollimage {
			position: relative;
			overflow: hidden;
			width: 100%
		}
		.c-rollimage-activity .rollimage .rollimage-img a {
			display: block;
			width: 100%;
			height: 100%;
			text-align: center
		}
		.c-rollimage-activity .rollimage .rollimage-position {
			position: absolute;
			left: 50%;
			bottom: .313rem
		}
		.c-rollimage-activity .rollimage .rollimage-position li {
			width: .375rem;
			height: .375rem;
			margin-left: .438rem;
			background: rgba(0, 0, 0, 0.4);
			-moz-border-radius: .25rem;
			-webkit-border-radius: .25rem;
			border-radius: .25rem
		}
		.c-rollimage-activity .rollimage .rollimage-position li:first-child {
			margin-left: 0
		}
		.c-rollimage-activity .rollimage .rollimage-position li.active {
			background: #fff
		}
		.cw-grid-layout {
			padding-left: .625rem;
			padding-right: .625rem;
			padding-top: .625rem;
			padding-bottom: .625rem
		}
		.cw-grid-layout .layout-container {
			position: relative
		}
		
		.cw-grid-layout .layout-container .item img {
			width: 100%;
			height: 100%
		}
		.cw-activity-one {
			padding-top: .625rem;
			padding-bottom: .625rem;
			padding-left: .625rem;
			padding-right: .625rem
		}
		.cw-activity-one .activity-img {
			display: block;
			height: 5.8125rem;
			text-align: center;
			overflow: hidden
		}
		[class*='size-'], .cw-grid-layout{
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		body {
			background: #f2f1f6;
			color: #333
		}
		.base {
			margin-top: .625rem;
			background: #fff;
			border-top: .0625rem solid #c8c7cc;
			border-bottom: .0625rem solid #c8c7cc
		}
		.p-img {
			background: #f1f1f1
		}
		.p-info {
			height: 2.375rem;
			color: #333;
			font-size: .813rem;
			line-height: 1.188rem
		}
		.price {
			color: #e43743
		}
		.c-mask .mask {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 9;
			display: none;
			background: rgba(0, 0, 0, 0.4)
		}
		.cw-grid-layout .layout-container.cc-grid .item {
			/*width: 50%;float:left;*/
		}
		.cw-grid-layout .layout-container.cc-grid .item.long {
			width: 100%;
		}
		.cw-grid-layout .layout-container.cc-grid .item.tall {
			height: 300px;
		}
		.cc-grid[data-columns]::before {
			content: '2 .column.size-1of2';
		}
		.cc-grid.of3[data-columns]::before {
			content: '3 .column.size-1of3';
		}
		.cc-grid.of1[data-columns]::before {
			content: '1 .column.size-1of1';
		}
		/* These are the classes that are going to be applied: */
		.column {
			float: left;
		}
		.size-1of2 {
			width: 50%;
		}
		.size-1of3 {
			width: 33.33%;
		}
		.size-1of1 {
			width: 33.33%;
		}
		/* Footer */
		.footnav {
			padding: 6px 0;
			text-align: left;
		}
		.footnav a {
			display: inline-block;
			width: 24%;
			line-height: 27px;
			font-size: 14px;
			color: #36C;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: center;
		}
		.copright {
			font-size: 10px;
			text-align: center;
			padding: 10px 0 0;
			border-top: #cdcdcd 1px solid;
		}
		.c-bottom {
			padding-bottom: 65px;
		}
		/* Kili header */
		.header {
			background: #DF4B02;
			padding: 0;
			position: relative;
			width: 100%;
			height: 45px;
			text-align: center;
			line-height: 44px;
			font-size: 18px;
			color: #fff;
			z-index: 99;
		}
		.clearfix {
			zoom: 1;
			clear: both;
		}
		.clearfix:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: " ";
			clear: both;
			height: 0;
		}
		.swiper-nav a{font-size: 14px;}
		.fl {
			float: left;
		}
		a {
			text-decoration: none;
			color: gray;
		}
		.fr {
			float: right;
		}
		.head_left a,
		.head_right a {
			display: block;
			padding: 11px;
			position: relative;
		}
		.h_back,
		.h_cart,
		.h_history,
		.h_home,
		.h_logn,
		.h_logn2 {
			display: block;
			width: 24px;
			height: 21px;
		}
		
		.Origin span,
		.Qicon,
		.backtop:after,
		.beautycart span,
		.btn_story span,
		.cart_heart span,
		.carticon,
		.check_arrow,
		.clockicon,
		.clockicon2,
		.down_arrow,
		.down_arrow_v,
		.fav_num i,
		.flow_carticon,
		.freegclock span.count,
		.h_back,
		.h_cart,
		.h_history,
		.h_home,
		.h_logn,
		.h_logn2,
		.h_search,
		.i_down_arrow,
		.i_down_arrow_white,
		.i_quality,
		.i_up_arrow,
		.i_up_arrow_white,
		.icon_addr,
		.icon_msg,
		.icon_p,
		.icon_up_more,
		.in_close,
		.layer_close span i,
		.logo,
		.predate-list .title span:before,
		.predown:before,
		.re_time span.icon-clock,
		.recommend .content .discount:after,
		.rightrow,
		.s_links a em.s_qua,
		.s_links a em.s_sev,
		.s_links a em.s_tel,
		.s_links a span,
		.sercon li em,
		.suppliers_send span,
		.t_links li a span,
		.ui-modal-fade,
		.up_arrow,
		.up_arrow_v,
		em.s_mes,
		em.s_show,
		em.sm,
		span.hj {
			background: url(files/bcee601e49.indexicon.png) no-repeat;
			background-size: 200px;
		}
		.h_search {
			display: block;
			width: 24px;
			height: 21px;
			background-position: -26px -5px;
		}
		.h_cart {
			background-position: -2px -35px;
		}
		.h_logn2 {
			background-position: -115px -36px;
			position: relative;
		}
		.h_logn {
			background-position: -2px -5px;
			position: relative;
		}
		.swiper-nav {
			position: absolute;
			left: 0;
			top: 40;
			width: 100%;
			height: 36px;
			background: #333;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
		}